
body{
    background-image:url("..image/Mark.jpg");
    background-repeat: no-repeat;
    background: cover;
}
h1{
    color:#3594F5;
    text-align: center;
}

p {
    font-size: 1.5em;
    color:#3594F5;
    background-color: transparent;
    background-image: none;
  }
  
  .menu ul{

    
  }

ul{

    list-style: square;
}


