
body{
    background-image:url("image/Mark.jpg");
    background-size:100%;
    width: 50%;
    height: ;
    background-repeat: no-repeat;
    background: cover;
}
h1{
    font-style: italic;
    color:#3594F5;
    text-align: center;
}

p {
    font-size: 1.5em;
    color:#3594F5;
    background-color: transparent;
    background-image: none;
  }
  
  .menu ul{
      color:#3594F5;
      list-style: square;
    
  }


